[user]
	name = Dmytrii Nagirniak
	email = dnagir@gmail.com
	signingkey = 6842549D4D4E658E
[core]
	filemode = true
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
  editor = nvim


[alias]
  fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f" # https://blog.filippo.io/git-fixup-amending-an-older-commit/
  co=checkout
  s=status
  a=add . -A
  d=diff
  dc=diff --cached
  cv=commit -v
  recent=log --oneline -n15
  fom=fetch origin main
  rom=rebase origin/main
  rhom=reset --hard origin/main
[color]
	diff = auto
[push]
	default = current
[commit]
	gpgsign = true
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
[pager]
	log = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
